* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.top_container{
    flex: 1;
    order: 1;
}
header{
    display: inline-block;
    width: 100%;
    height: 100px;
    left: 0;
    top:0;
    background-color: rgb(15, 185, 15);
}
h1{
    display: inline-block;
    width: 200px;
    padding-left: 150px;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quote{
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 35px 10% 0 0;
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
}

.middle_container{
    flex: 1;
    order: 2;
    display: flex;
    align-items: stretch; 
}
.left_block{
    flex: 1;
    text-align: center;
    background-color: rgb(218, 218, 218); /* Забезпечимо контрастну барву для видимості */
    /* height: 500px; */
    border: 2px solid rgb(132, 132, 132);
}
#photo{
    display: inline-block;
    width: 100px;
    margin: 10px auto;
}
.middle_block{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.middle_block div {
    border: 2px solid rgb(110, 110, 110);
}
.horizontal-menu {
    display: flex;
    justify-content: center; /* Горизонтальне центрування вмісту */
    align-items: center; 
    height:50px;
    border: 2px solid black;
    list-style-type: none; /* Видаляємо маркери списку */
    padding-inline-start: 0;

}
.horizontal-menu li {
    display: inline;
    margin-right: 20px;
}
.horizontal-menu li:last-child {
    margin-right: 0;
}
.horizontal-menu a {
    text-decoration: none; /* Видаляємо підкреслення посилань */ /* Колір тексту посилань */
    font-weight: bold; /* Жирний шрифт */
}
main {
    padding: 30px;
}
.middle_block, .left_block{
    margin-right: 20px;
}
.right_block{
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column; /* Змінено на column */
    align-items: center;
    background-color: rgb(218, 218, 218);
    border: 2px solid rgb(132, 132, 132);
}
.right_block ul{
    margin: 30% auto 70% auto;
    padding-bottom: 400%; 

}
.right_over{
    flex: 1;
    order: 1;
    text-align: center;
    border: none;
    
}
.right_below{
    order:2;
    border-top: 2px solid rgb(132, 132, 132);
    position: relative;
    display: flex;
    flex-direction: column;
}

.map{
    flex: 1;
    order: 2;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: auto;
     
}
h4 {
    padding: 10px;
}
main li {
    padding-top: 30px;
}
.bottom_container{
    flex: 1;
    order: 3;
    background-color: #00063a; /* Змінити фон на світлий */
    color: #dadada; /* Змінити колір тексту на темний */
    text-align: center;
    left: 0;
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: 700;
}
footer{
    display: flex;
    margin: 28px auto;
}
footer h3{
    flex: 1;
    order: 2;
    right:100px;
}
footer h4{
    flex: 1;
    order: 1;
    left: 50px;
}